
	<!-- products -->
	<div class="products">	 
		<div class="container">
			<div class="col product-w3ls-right">
				<!-- breadcrumbs -->
				<button type="button" class="btn btn-default" style="margin-left: 43%">Prueba la realidad aumentada !</button>
				<br />
				<br />
				<br />

				<ol class="breadcrumb breadcrumb1">
					<li><a href="@Url.Action("Index","Home")">Inicio</a></li>
					<li class="active">Bebidas Alcoholicas</li>
				</ol> 
				<div class="clearfix"> </div>
				<!-- //breadcrumbs -->
				
				<div class="products-row">
					<div class="col-md-3 product-grids"> 
						<div class="agile-products">
							
							<a href="@Url.Action("BebidasAlcoholicas1","BebidasAlcoholicas")"><img src="~/css/Imagenes_Productos/BebidasAlcoholicas/BebidasAlcoholicas_1.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("BebidasAlcoholicas1","BebidasAlcoholicas")">Budweiser</a></h5> 
								<h6>$2.150</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Budweiser" /> 
									<input type="hidden" name="amount" value="2150" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form> 
							</div>
						</div> 
					</div>
					<div class="col-md-3 product-grids">
						<div class="agile-products">
							
							<a href="@Url.Action("BebidasAlcoholicas2","BebidasAlcoholicas")"><img src="~/css/Imagenes_Productos/BebidasAlcoholicas/BebidasAlcoholicas_2.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("BebidasAlcoholicas2","BebidasAlcoholicas")">Cerveza Águila En Lata 330 ML</a></h5> 
								<h6>$2.150</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Aguila" /> 
									<input type="hidden" name="amount" value="2150" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-grids"> 
						<div class="agile-products">
							
							<a href="@Url.Action("BebidasAlcoholicas3","BebidasAlcoholicas")"><img src="~/css/Imagenes_Productos/BebidasAlcoholicas/BebidasAlcoholicas_3.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("BebidasAlcoholicas3","BebidasAlcoholicas")">Cerveza Corona</a></h5> 
								<h6>$5.000</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart"/>
									<input type="hidden" name="add" value="1"/> 
									<input type="hidden" name="w3ls_item" value="Cerveza Corona"/> 
									<input type="hidden" name="amount" value="5000"/> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>  
					</div>
					<div class="col-md-3 product-grids">
						<div class="agile-products">
							
							<a href="@Url.Action("BebidasAlcoholicas4","BebidasAlcoholicas")"><img src="~/css/Imagenes_Productos/BebidasAlcoholicas/BebidasAlcoholicas_4.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("BebidasAlcoholicas4","BebidasAlcoholicas")">Cerveza Heineken Botella 650 ML</a></h5> 
								<h6>$7.100</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart"/>
									<input type="hidden" name="add" value="1"/> 
									<input type="hidden" name="w3ls_item" value="Cerveza Heiniken"/> 
									<input type="hidden" name="amount" value="7100"/> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>
					</div> 
					<div class="col-md-3 product-grids">
						<div class="agile-products">
							
							<a href="@Url.Action("BebidasAlcoholicas5","BebidasAlcoholicas")"><img src="~/css/Imagenes_Productos/BebidasAlcoholicas/BebidasAlcoholicas_5.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("BebidasAlcoholicas5","BebidasAlcoholicas")">Cerveza Poker</a></h5> 
								<h6>5000</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart"/>
									<input type="hidden" name="add" value="1"/> 
									<input type="hidden" name="w3ls_item" value="Cerveza Poker"/> 
									<input type="hidden" name="amount" value="4500"/> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>
					</div>
					
					 
					<div class="clearfix"> </div>
				</div>
				<!-- add-products --> 
				<div class="w3ls-add-grids w3agile-add-products">
					<a href="#"> 
						<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div> 
				<!-- //add-products -->
			</div>
			
				
			</div>
			<div class="clearfix"> </div>




				<div class="agileits-modal modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"> Experimenta la Realidad Aumentada con tú télefono !</h4>
				</div>
				<div class="modal-body modal-body-sub"> 
					<p style="margin:25px">Escanea este código QR con tu dispositivo movil y mira lo que sucede !</p>
					<img class="img-responsive" src="~/css/Imagenes_Productos/QR_Codes/QR_BebidasAlcoholicas.jpeg"/>
					<p style="margin:25px">Si un producto llamo tu atención, Cierra esta ventana y encuentralo justo aquí !</p>
					
				</div>
			</div>
		</div>
	</div>


	

	<script>
		$('#myModal88').modal('show');
	</script> 





			
		</div>
	
	<!--//products-->


