
	<!-- products -->
	<div class="products">	 
		<div class="container">
			<div class="col product-w3ls-right">
				<!-- breadcrumbs --> 
				<ol class="breadcrumb breadcrumb1">
					<li><a href="@Url.Action("Index","Home")">Inicio</a></li>
					<li class="active">Enlatados</li>
				</ol> 
				<div class="clearfix"> </div>
				<!-- //breadcrumbs -->
				
				<div class="products-row">
					<div class="col-md-3 product-grids"> 
						<div class="agile-products">
							
							<a href="single.html"><img src="~/css/Imagenes_Productos/Enlatados/Enlatados_1.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("Enlatados1","Enlatados")">Arvejas</a></h5> 
								<h6><del>$200</del> $100</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Audio speaker" /> 
									<input type="hidden" name="amount" value="100.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form> 
							</div>
						</div> 
					</div>
					<div class="col-md-3 product-grids">
						<div class="agile-products">
							
							<a href="single.html"><img src="~/css/Imagenes_Productos/Enlatados/Enlatados_2.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("Enlatados2","Enlatados")">Van Camps</a></h5> 
								<h6><del>$700</del> $300</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Refrigerator" /> 
									<input type="hidden" name="amount" value="300.00" /> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-grids"> 
						<div class="agile-products">
							
							<a href="single.html"><img src="~/css/Imagenes_Productos/Enlatados/Enlatados_3.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("Enlatados3","Enlatados")">Jamón enlatado</a></h5> 
								<h6><del>$100</del> $70</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart"/>
									<input type="hidden" name="add" value="1"/> 
									<input type="hidden" name="w3ls_item" value="Smart Phone"/> 
									<input type="hidden" name="amount" value="70.00"/> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>  
					</div>
					<div class="col-md-3 product-grids">
						<div class="agile-products">
							
							<a href="single.html"><img src="~/css/Imagenes_Productos/Enlatados/Enlatados_4.png" class="img-responsive" alt="img"></a>
							<div class="agile-product-text">              
								<h5><a href="@Url.Action("Enlatados4","Enlatados")">Salchichas Viena</a></h5> 
								<h6><del>$100</del> $80</h6> 
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart"/>
									<input type="hidden" name="add" value="1"/> 
									<input type="hidden" name="w3ls_item" value="Digital Camera"/> 
									<input type="hidden" name="amount" value="80.00"/> 
									<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir al carrito</button>
								</form>
							</div>
						</div>
					</div> 
					
					 
					<div class="clearfix"> </div>
				</div>
				<!-- add-products --> 
				<div class="w3ls-add-grids w3agile-add-products">
					<a href="#"> 
						<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div> 
				<!-- //add-products -->
			</div>
			
				
			</div>
			<div class="clearfix"> </div>




				<div class="agileits-modal modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel"> Experimenta la Realidad Aumentada con tú télefono !</h4>
				</div>
				<div class="modal-body modal-body-sub"> 
					<p style="margin:25px">Escanea este código QR con tu dispositivo movil y mira lo que sucede !</p>
					<img class="img-responsive" src="~/css/Imagenes_Productos/QR_Codes/QR_Enlatados.jpeg"/>
					<p style="margin:25px">Si un producto llamo tu atención, Cierra esta ventana y encuentralo justo aquí !</p>
					
				</div>
			</div>
		</div>
	</div>


	

	<script>
		$('#myModal88').modal('show');
	</script> 






			
		</div>
	
	<!--//products-->

